POSTGRES_NAME=postgres
POSTGRES_USER=rad
## for local postgres superuser:postgres; port: 5555; pwd:secret_password
POSTGRES_PASSWORD=secret_password
HOST_DB_PORT=5555
CONTAINER_DB_PORT=5432
DB_HOST=db_service
HOST_MACHINE_DB_HOST=127.0.0.1
DB_DATA=/var/lib/postgresql/data

APP_PORT=3000
NODE_ENV=development
