POSTGRES_NAME=postgres
POSTGRES_USER=rad
## for local postgres superuser:postgres; port: 5555; pwd:secret_password
POSTGRES_PASSWORD=secret_password
HOST_DB_PORT=5555
CONTAINER_DB_PORT=5432
DB_HOST=db_service
HOST_MACHINE_DB_HOST=127.0.0.1
DB_DATA=/var/lib/postgresql/data

JWT_ACCESS_SECRET=jwt-access-secret-key
JWT_REFRESH_SECRET=jwt-refresh-secret-key
SESSION_KEY=secret_session

APP_PORT=8080
WEBSOCKET_PORT=4000
CLIENT_PORT=3000

## smtp settings
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com  
SMTP_USER=radomir.radionov26@gmail.com
SMTP_PASSWORD=mnpc ovfy jjzl cgwk

## client

CLIENT_URL=http://localhost:3000/